
  
    
    <div class="col s2">
      <div class="card-panel grey-light small">
        <div (click)="tuggle()" class="center">                      
            <div *ngIf="r.isRunning; else elseBlock"><button class="waves-effect waves-light btn-floating btn-small green"></button></div>                      
            <ng-template #elseBlock><button class="waves-effect waves-light btn-floating btn-small red"></button></ng-template>                                
        </div>
         <p id="head" class="center"> {{r.name}}</p>          
          <div id="body" style="font-size: 80%">          
            <p>Updated by: {{r.updatedBy}} </p> 
            <p>Last Update: {{r.lastUpdate}} </p>
            <p> Update Reason: {{r.updateReason}}</p>
          </div>  
      </div>
  </div>


 


    
  

